### Pymongo

In [1]:
#import the pymongo library
import pymongo

In [2]:
DEFAULT_CONNECTION_URL="mongodb://localhost:27017/"
db_name="Praneeth1"

#Establish a connection with pymongo database
client=pymongo.MongoClient(DEFAULT_CONNECTION_URL)

#Create a database 
database= client[db_name]

In [3]:
#Check the what the existing list of db
client.database_names()

<ipython-input-3-e58c976a531f>:2: DeprecationWarning: database_names is deprecated. Use list_database_names instead.
  client.database_names()

['admin', 'config', 'local']

In [4]:
#Let's verify the first that we are created our database in our list or not
#we'll use the following functions

def db_exists(df_list,client):
    db_names=client.list_database_names()
    if db_name in db_names:
        print(f"DB: '{db_name}' exists")
        
        return True
    print(f"DB: '{db_name}' not yet present in the selected database")
    return False

_=db_exists(df_list=db_name,client=client)

DB: 'Praneeth1' not yet present in the selected database

### Step 2 Create a Collection

In [6]:
Collection_name="Product_1"
collection=database[Collection_name]

In [10]:
#Let's verify whether we have a database in our list or not
#Let's check it by using this function
def existance_Database(collectoion_name,db_name,db):
    collection_list=db.list_collection_names()
    
    if collectoion_name in collection_list:
        print(f"Collection: '{collectoion_name}' in database: '{db_name}' exits")
        return True
    print(f"Collection: '{collectoion_name}' in database: '{db_name}' doesn't exists in our database")
    return False
_=existance_Database(collectoion_name=Collection_name,db_name=db_name,db=database)

Collection: 'Product_1' in database: 'Praneeth1' doesn't exists in our database

In [11]:
#insert a record in our database
record={"Company_name":"Ai_innovative_solutions",
       "Registerd_id":100-12-56,
       "Location":"Hyderabad",
       "State":"Telangana",
       "Country":"India"}
collection.insert_one(record)

In [12]:
_ = existance_Database(collectoion_name=Collection_name,db_name=db_name,db=database)

Collection: 'Product_1' in database: 'Praneeth1' exits

In [13]:
#Verify our database
_=db_exists(db_name,client=client)

DB: 'Praneeth1' exists

In [14]:
#Verify our collection
_=existance_Database(collectoion_name=Collection_name,db_name=db_name,db=database)

Collection: 'Product_1' in database: 'Praneeth1' exits

### Step 3 Insert multiple records

In [16]:
multiple=[
    {"Company_name":"Ineuron",
    "Registerd_id":140-518,
    "Location":"Bangalore",
    "State":"Karnataka",
    "Country":"India"},
    
    {"Company_name":"Applied_ai",
    "Registerd_id":46-45-78,
    "Location":"Mumbai",
    "State":"Maharastra",
    "Country":"India"},
    
    {"Company_name":"Amazon",
    "Registerd_id":256-230,
    "Location":"Washington",
    "State":"Kentuky",
    "Country":"USA"},
    
    {"Company_name":"Flipkart",
    "Registerd_id":856-123,
    "Location":"Bangalore",
    "State":"Karnataka",
    "Country":"India"}
]

In [18]:
rec=collection.insert_many(multiple)

In [22]:
#Let's print the unique that we have inserted record
uni=rec.inserted_ids

for idx,unique_ids in enumerate(uni):
    print(f"'{idx}'-----'{unique_ids}'")

'0'-----'606006071682f574c6852e97'
'1'-----'606006071682f574c6852e98'
'2'-----'606006071682f574c6852e99'
'3'-----'606006071682f574c6852e9a'

You can Overide the id by giving a user defind as shown below

In [35]:
collection_name="Product2"
product=database[collection_name]

list_of_records=[
    {"_id":"0",
    "Name":"Praneeth",
    "Roll_no":"17jh5a0301",
    "Company_name":"Ineuron"},
    
    {"_id":"1",
    "Name":"Sudhanshu",
    "Roll_no":"45gh102k",
    "Company_name":"Apllied_ai"}
]

rec2=product.insert_many(list_of_records)

In [36]:
index_id=rec2.inserted_ids

for idx,unique in enumerate(index_id):
    print(f"'{idx}'---'{unique}'")

'0'---'0'
'1'---'1'

### Finding methods in MongoDB

In [38]:
find_first_rcord=product.find_one()
print(f"The first record of the collection: '{collection_name}' and first record is '{find_first_rcord}'")

The first record of the collection: 'Product2' and first record is '{'_id': '0', 'Name': 'Praneeth', 'Roll_no': '17jh5a0301', 'Company_name': 'Ineuron'}'

In [41]:
#Find all records in our database colection\
all_record=product.find()
print(collection_name)
for idx,record in enumerate(all_record):
    print(f"'{idx}'----'{record}'")

Product2
'0'----'{'_id': '0', 'Name': 'Praneeth', 'Roll_no': '17jh5a0301', 'Company_name': 'Ineuron'}'
'1'----'{'_id': '1', 'Name': 'Sudhanshu', 'Roll_no': '45gh102k', 'Company_name': 'Apllied_ai'}'

In [46]:
#Find all the record at present in the once
all_record_column=product.find({},{"Name","Company_name"})

for idx,record in enumerate(all_record_column):
    print(f"'{idx}'--'{record}'")

'0'--'{'_id': '0', 'Name': 'Praneeth', 'Company_name': 'Ineuron'}'
'1'--'{'_id': '1', 'Name': 'Sudhanshu', 'Company_name': 'Apllied_ai'}'

### Queory or filter out data

In [48]:
#queory 1
query={"_id":"1"}

results=product.find(query)
for data in results:
    print(data)

{'_id': '1', 'Name': 'Sudhanshu', 'Roll_no': '45gh102k', 'Company_name': 'Apllied_ai'}

In [50]:
#queory 2
quoery2={"_id":{"$gt":"0"}}   #$gt denotes greater than 0

results=product.find(quoery2)
for data in results:
    print(data)

{'_id': '1', 'Name': 'Sudhanshu', 'Roll_no': '45gh102k', 'Company_name': 'Apllied_ai'}

In [60]:
#quoery3
queory3={"Roll_no":"17jh5a0301"}
results=product.find(queory3,{"Name","Company_name"})
for data in results:
    print(data)

{'_id': '0', 'Name': 'Praneeth', 'Company_name': 'Ineuron'}

In [69]:
#Query4
query4={"Company_name":"Apllied_ai"}
results=product.find(query4,{"Name"})
for data in results:
    print(f"The ceo of the company name is '{str(data)}'")

The ceo of the company name is '{'_id': '1', 'Name': 'Sudhanshu'}'

### Delete one or many records in the data

In [75]:
random_data=[
    {'_id': '2', 'Name': 'George', 'Roll_no': '14lk564lo', 'Company_name': 'Gio'},
    {'_id': '3', 'Name': 'hindhu', 'Roll_no': '45vb32ju', 'Company_name': 'varun'},
    {'_id': '4', 'Name': 'shalini', 'Roll_no': '45op56gh', 'Company_name': 'Hundai'},
]

In [76]:
product.insert_many(random_data)

In [77]:
#Let's delete one record in our database
queory_to_delete={"Roll_no":"45vb32ju"}

product.delete_one(queory_to_delete)

In [79]:
#Let's delete multiple records
query_delete_many={"_id":{"$gt":"3"}}

product.delete_many(query_delete_many)

In order to delete all the records in our database just pass this function

                             product.delete_many({})

### Drop

In [80]:
### Drop the entire collection
product.drop()

In [81]:
#Let's verify if the collection exitst in our database or not
Collection_name="Students"
db_name="Praneeth1"
_=existance_Database(collectoion_name=Collection_name,db_name=db_name,db=database)

Collection: 'Students' in database: 'Praneeth1' doesn't exists in our database

### Update

In [94]:
Collection_name="Product_1"
collection=database[Collection_name]

all_records=collection.find()
for idx,record in enumerate(all_records):
    print(f"'{idx}':'{record}\n\n'")

'0':'{'_id': ObjectId('606003011682f574c6852e96'), 'Company_name': 'Ai_innovative_solutions', 'Registerd_id': 32, 'Location': 'Hyderabad', 'State': 'Telangana', 'Country': 'India'}

'
'1':'{'_id': ObjectId('606006071682f574c6852e97'), 'Company_name': 'Ineuron', 'Registerd_id': -378, 'Location': 'Bangalore', 'State': 'Karnataka', 'Country': 'India'}

'
'2':'{'_id': ObjectId('606006071682f574c6852e98'), 'Company_name': 'Applied_ai', 'Registerd_id': -77, 'Location': 'Mumbai', 'State': 'Maharastra', 'Country': 'India'}

'
'3':'{'_id': ObjectId('606006071682f574c6852e99'), 'Company_name': 'Amazon', 'Registerd_id': 26, 'Location': 'Washington', 'State': 'Kentuky', 'Country': 'USA'}

'
'4':'{'_id': ObjectId('606006071682f574c6852e9a'), 'Company_name': 'Pharma', 'Registerd_id': 733, 'Location': 'Bangalore', 'State': 'Karnataka', 'Country': 'India'}

'

In [95]:
present_data={"Company_name":"Flipkart"}
new_data={"$set":{"Company_name":"Pharma"}}

collection.update_one(present_data,new_data)

In [99]:
all_record=collection.find()

for idx,unique in enumerate(all_record):
    print(f"'{idx}': '{unique}\n\n'")

'0': '{'_id': ObjectId('606003011682f574c6852e96'), 'Company_name': 'Ai_innovative_solutions', 'Registerd_id': 32, 'Location': 'Hyderabad', 'State': 'Telangana', 'Country': 'India'}

'
'1': '{'_id': ObjectId('606006071682f574c6852e97'), 'Company_name': 'Ineuron', 'Registerd_id': -378, 'Location': 'Bangalore', 'State': 'Karnataka', 'Country': 'India'}

'
'2': '{'_id': ObjectId('606006071682f574c6852e98'), 'Company_name': 'Applied_ai', 'Registerd_id': -77, 'Location': 'Mumbai', 'State': 'Maharastra', 'Country': 'India'}

'
'3': '{'_id': ObjectId('606006071682f574c6852e99'), 'Company_name': 'Amazon', 'Registerd_id': 26, 'Location': 'Washington', 'State': 'Kentuky', 'Country': 'USA'}

'
'4': '{'_id': ObjectId('606006071682f574c6852e9a'), 'Company_name': 'Pharma', 'Registerd_id': 733, 'Location': 'Bangalore', 'State': 'Karnataka', 'Country': 'India'}

'

In [102]:
### Set limit to view no of records

n_records=2

n_record_view=collection.find().limit(n_records)

for idx,uniq in enumerate(n_record_view):
    print(f" '{idx}': '{uniq}\n\n'")

 '0': '{'_id': ObjectId('606003011682f574c6852e96'), 'Company_name': 'Ai_innovative_solutions', 'Registerd_id': 32, 'Location': 'Hyderabad', 'State': 'Telangana', 'Country': 'India'}

'
 '1': '{'_id': ObjectId('606006071682f574c6852e97'), 'Company_name': 'Ineuron', 'Registerd_id': -378, 'Location': 'Bangalore', 'State': 'Karnataka', 'Country': 'India'}

'

In [103]:
Collection_name="Product3"
collection=database[Collection_name]

_=existance_Database(collectoion_name=Collection_name,db_name=db_name,db=database)

Collection: 'Product3' in database: 'Praneeth1' doesn't exists in our database

In [105]:
#Let's create a records for our database
records=[
    {"_id":"0",
    "Name":"Praneeth",
    "Location":"Bhimavaram",
    "State":"Andhra pradesh",
    "Phone":8309116050,
    "Country":"India"},
    
    {"_id":"1",
    "Name":"Rakesh",
    "Location":"Hyderabad",
    "State":"Telangana",
    "Phone":9856256614,
    "Country":"India"},
    
    {"_id":"2",
    "Name":"Ganesh",
    "Location":"Kentucky",
    "State":"California",
    "Phone":452569841,
    "Country":"USA"},
    
    {"_id":"3",
    "Name":"Rocky",
    "Location":"Papaguiana",
    "State":"Hummagui",
    "Phone":7891256312,
    "Country":"Malaysia"}
]

collection.insert_many(records)

In [106]:
rec=collection.find()

for idx,records in enumerate(rec):
    print(f"'{idx}': '{records}'")

'0': '{'_id': '0', 'Name': 'Praneeth', 'Location': 'Bhimavaram', 'State': 'Andhra pradesh', 'Phone': 8309116050, 'Country': 'India'}'
'1': '{'_id': '1', 'Name': 'Rakesh', 'Location': 'Hyderabad', 'State': 'Telangana', 'Phone': 9856256614, 'Country': 'India'}'
'2': '{'_id': '2', 'Name': 'Ganesh', 'Location': 'Kentucky', 'State': 'California', 'Phone': 452569841, 'Country': 'USA'}'
'3': '{'_id': '3', 'Name': 'Rocky', 'Location': 'Papaguiana', 'State': 'Hummagui', 'Phone': 7891256312, 'Country': 'Malaysia'}'

In [107]:
#qeuroy 1
query={"_id":{"$gte":"2"}}

results=collection.find(query)

for data in results:
    print(data)

{'_id': '2', 'Name': 'Ganesh', 'Location': 'Kentucky', 'State': 'California', 'Phone': 452569841, 'Country': 'USA'}
{'_id': '3', 'Name': 'Rocky', 'Location': 'Papaguiana', 'State': 'Hummagui', 'Phone': 7891256312, 'Country': 'Malaysia'}

In [108]:
#query 2
query2={"Name":"Ganesh"}

results=collection.find(query2,{"Name","Location"})
for data in results:
    print(data)

{'_id': '2', 'Name': 'Ganesh', 'Location': 'Kentucky'}

In [110]:
#query 3
query3={"_id":"3"}

results=collection.find(query3)

for data in results:
    print(data)

{'_id': '3', 'Name': 'Rocky', 'Location': 'Papaguiana', 'State': 'Hummagui', 'Phone': 7891256312, 'Country': 'Malaysia'}

In [111]:
#Update the record

present_data={"Name":"Rocky"}
new_data={"$set":{"Name":"Lovely"}}

collection.update_one(present_data,new_data)

In [116]:
#After update the records
rec=collection.find({"_id":"3"})
for data in rec:
    print(data)

{'_id': '3', 'Name': 'Lovely', 'Location': 'Papaguiana', 'State': 'Hummagui', 'Phone': 7891256312, 'Country': 'Malaysia'}

In [121]:
#Delete a record
query_to_delete={"Name":"Ganesh"}

collection.delete_one(queory_to_delete)